{% extends 'base.html' %}
{% block title %} WhiteBricks Inc Pvt Ltd | update Pg {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    
  <div class="row">
      
      
      <!-- edit form column -->
      
      <div class="col-md-6 personal-info " id="editform">
        <div class="header"><br>
        <h2><strong>Edit your  Ads</strong></h2>
        
        </div>
        <hr>
        <form action=" " method="post" autocomplete="off" enctype="multipart/form-data" class="form-horizontal" role="form">
              {% csrf_token %} 
        <input type="hidden" name="real" value="{{user.id}}">
          <div class="form-group">
            <label class="col-lg-3 control-label">Title:</label>
            <div class="col-lg-8">
              {{form.title}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Address:</label>
            <div class="col-lg-8">
              {{form.address}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">City:</label>
            <div class="col-lg-8">
              {{form.city}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">State:</label>
            <div class="col-lg-8">
              {{form.state}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Zipcode:</label>
            <div class="col-lg-8">
              {{form.zipcode}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Price:</label>
            <div class="col-lg-8">
              {{form.price}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Bedrooms:</label>
            <div class="col-lg-8">
              {{form.bedrooms}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Bathrooms:</label>
            <div class="col-lg-8">
              {{form.bathrooms}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Garage:</label>
            <div class="col-lg-8">
              {{form.garage}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Sqft:</label>
            <div class="col-lg-8">
              {{form.sqft}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Lot_size:</label>
            <div class="col-lg-8">
              {{form.lot_size}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Photo_main:</label>
            <div class="col-lg-8">
              {{form.photo_main}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Photo_1:</label>
            <div class="col-lg-8">
              {{form.photo_1}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Photo_2:</label>
            <div class="col-lg-8">
              {{form.photo_2}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Photo_3:</label>
            <div class="col-lg-8">
              {{form.photo_3}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Photo_4:</label>
            <div class="col-lg-8">
              {{form.photo_4}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">Photo_5:</label>
            <div class="col-lg-8">
              {{form.photo_5}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">photo_6:</label>
            <div class="col-lg-8">
              {{form.photo_6}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">is_published:</label>
            <div class="col-lg-8">
              {{form.is_published}}
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-lg-3 control-label">List_date:</label>
            <div class="col-lg-8">
              {{form.list_date}}
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              
              <input type="submit" value="Save Changes" class="btn btn-primary">
              <span></span>
              <input type="reset" class="btn btn-primary" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>

























<!-- <section id="login" class="bg-light py-5">
    <div class="log1" >
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            
            <div class="jumbotron">
                <h1 class="display-4">Edit Ad</h1>
            
                <form action=" " method="post" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
               <input type="hidden" name="real" value="{{user.id}}">
                
                {{form.title|as_crispy_field}} 
                {{form.address|as_crispy_field}} 

                {{form.city|as_crispy_field}} 

                {{form.state|as_crispy_field}} 

                {{form.zipcode|as_crispy_field}} 

                {{form.description|as_crispy_field}}
                {{form.price|as_crispy_field}} 

                {{form.bedrooms|as_crispy_field}} 
                {{form.bathrooms|as_crispy_field}} 
                {{form.garage|as_crispy_field}} 
                {{form.sqft|as_crispy_field}} 
                {{form.lot_size|as_crispy_field}} 
                {{form.photo_main|as_crispy_field}} 
                {{form.photo_1|as_crispy_field}} 
                {{form.photo_2|as_crispy_field}} 
                {{form.photo_3|as_crispy_field}} 
                {{form.photo_4|as_crispy_field}} 
                {{form.photo_5|as_crispy_field}} 
                {{form.photo_6|as_crispy_field}} 
                {{form.is_published|as_crispy_field}} 
                {{form.list_date|as_crispy_field}} <hr/>


                <div class="col-6">
                <button type="submit" class="btn btn-success btn-block btn-lg">
                Save Now</button>
              </div>



              
    


    
    
  </div>  
    
    

</form>
            
           
          </div>
        </div>
      </div>
    </div>
  </section>-->
{% endblock %}
